<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fsm97Trainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>   
  </runtime>
  <userSettings>
    <Fsm97Trainer.Properties.Settings>
      <setting name="AutoTrain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertToGK" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoAlternativeTraining" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContractAutoRenew" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoResetStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxMoral" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxEnergy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxStrength" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoPositionWithFormation" serializeAs="String">
        <value>False</value>
      </setting>
    </Fsm97Trainer.Properties.Settings>
  </userSettings>
</configuration>
